.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

md-sidenav#side-left > md-toolbar {
  padding: 15px;
  height: 150px;
  max-height: 150px;
}
md-sidenav#side-left {
  padding: 0;
}
md-sidenav#side-left md-icon {
  fill: #737373;
  position: relative;
}
md-sidenav#side-left .md-avatar {
  height: 64px;
  width: 64px;
  background-color: #ffffff;
  border-radius: 75%;
}
md-list-item:hover {
  background-color: rgb(240,240,240);
  color: dodgerblue;
}
md-list-item{
  padding: 0;
  cursor: pointer;
}
md-content.backview {
  background-color: #ECEFF1 !important;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
