<div ng-cloak ng-init="courseDetail.init()">
  <md-content class="md-padding backview" layout-md="column"  layout-sm="column" layout-xs="column" layout="row">
    <div flex="75" flex-md="100" flex-sm="100" flex-xs="100" layout="column">
      <md-card class="card-left card-item">
        <md-card-title class="card-item-header" >
          <md-card-title-text class="card-item-title-header">
            <div class="icon">
              <md-icon md-svg-src="../images/ic_book_hover.svg"></md-icon>
            </div>
            <div class="title">
              <p>{{ itemcourse.name }}
                <span class="md-subhead center" >{{courseDetail.course.course_type.description }}</span></p>
            </div>
          </md-card-title-text>
        </md-card-title>
        <md-card-content class="card-item-content">
          <div layout="column"  class="card-item-content-data">
            <div flex="100" layout="row" layout-xs="column" class="data-top">
              <div flex="100" flex-xs="100" layout="column">
                <div flex="100">
                  <p class="name">{{ courseDetail.course.name  }}</p>
                  <p class="identify">{{ courseDetail.course.identify }}</p>
                  <p class="course-type-description">{{ courseDetail.course.course_type.description }}</p>
                </div>
              </div>
            </div>
            <div flex="100" layout-padding layout="row" layout-xs="column"
                 class="data-middle">
              <div flex layout="row" layout-xs="column" class="left">
                <p>Inicio: {{ courseDetail.course.duration.start | date:'dd/MM/yyyy' }}</p>
                <p>Término: {{ courseDetail.course.duration.end | date:'dd/MM/yyyy' }}</p>
              </div>
              <div flex layout="row" layout-align="end" class="right">
                <p>{{ courseDetail.course.create_at | date:'dd/MM/yyyy'}}</p>
                <p>{{ courseDetail.course.modified | date:'dd/MM/yyyy'}}</p>
              </div>
            </div>
            <div flex="100" layout-padding layout="column"
                 class="data-footer">
              <div flex="67" layout="column" class="description">
                <p>{{ courseDetail.course.description }}</p>
              </div>
            </div>
          </div>
        </md-card-content>
        <md-card-actions layout="row">
          <md-button class="md-icon-button" aria-label="Mais">
            <md-icon md-svg-icon="../images/ic_vmore.svg"></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Opções">
            <md-icon md-svg-icon="../images/ic_menu.svg"></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Compartilhar">
            <md-icon md-svg-icon="../images/ic_share_arrow.svg"></md-icon>
          </md-button>
        </md-card-actions>
      </md-card>
      <md-card class="card-left card-item">
        <md-card-title class="card-item-header" >
          <md-card-title-text class="card-item-title-header">
            <div class="icon">
              <md-icon md-svg-src="../images/ic_alarm_active.svg"></md-icon>
            </div>
            <div class="title">
              <p>Cronograma</p>
            </div>
          </md-card-title-text>
        </md-card-title>
        <md-card-content class="card-item-content" style="overflow-x: auto; max-height: 300px; min-height: 100px">
          <div layout="column"  class="card-item-content-data">
            <table flex="100" flex-xs="100" id="tbl-schedule">
              <thead>
              <tr>
                <th>Dia</th>
                <th>Professor</th>
                <th>Matéria</th>
                <th>Inicio</th>
                <th>Término</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="item in courseDetail.schedule">
                <td>{{ item.day }}</td>
                <td>{{ item.teacher }}</td>
                <td>{{ item.subject.description }}</td>
                <td>{{ item.duration.start }}</td>
                <td>{{ item.duration.end }}</td>
                <td>
                  <md-menu md-offset="-20 4" md-position-mode="target-right target" >
                    <md-button aria-label="Open demo menu"
                               class="md-icon-button"
                               id="opt-schedule-{{ item._id }}"
                               ng-click="$mdOpenMenu($event)">
                      <md-icon md-menu-origin md-svg-icon="images/ic_vmore.svg" style="width: 18px; height: 18px;"></md-icon>
                    </md-button>
                    <md-menu-content>
                      <md-menu-item ng-repeat="opt in ['Excluir']">
                        <md-button ng-click="courseDetail.optionClicked($index, item._id)" >
                          <span md-menu-align-target>{{opt}} </span>
                        </md-button>
                      </md-menu-item>
                    </md-menu-content>
                  </md-menu>
                  <!--<md-button class="md-icon-button" aria-label="Mais" layout="center">
                    <md-icon md-svg-icon="../images/ic_vmore.svg" style="width: 14px; height: 14px"></md-icon>
                  </md-button>-->
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </md-card-content>
        <md-card-actions layout="row"  style="padding: 0; margin-top: 20px;" layout-align="end end">
          <md-button style="float: right; margin-top: -25px; background: mediumpurple"
                     id="btn-add-schedule"
                     ng-click="courseDetail.addSchedule()"
                     class="md-fab md-mini md-primary" aria-label="Home">
            <md-icon class="material-icons" md-svg-icon="images/ic_add_white.svg" style="width: 14px; height: 14px"></md-icon>
          </md-button>
        </md-card-actions>
      </md-card>
      <md-card class="card-left" flex>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Notas</span>
            <span class="md-subhead">todo :)</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row"  style="padding: 0; margin-top: 20px;" layout-align="end end">
          <md-button style="float: right; margin-top: -25px; background:green"
                     class="md-fab md-mini md-primary" aria-label="Home">
            <md-icon class="material-icons" md-svg-icon="images/ic_add_white.svg" style="width: 14px; height: 14px"></md-icon>
          </md-button>
        </md-card-actions>
      </md-card>
    </div>
    <div flex="25" flex-xs="100" flex-md="100" flex-sm="100" layout="column" layout-md="row">
      <md-card class="card-right" flex>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Alunos ({{ courseDetail.course.class.length }})</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <div class="md-dialog-content" style="overflow-x: auto">
            <md-list ng-cloak>
              <md-list-item class="md-3-line" ng-repeat="item in courseDetail.course.class">
                <img alt="{{ item.name }}" ng-src="../images/ic_person.svg" class="md-avatar" />
                <div class="md-list-item-text" layout="column">
                  <h3>{{ item.name }}</h3>
                </div>
              </md-list-item>
            </md-list>
          </div>
        </md-card-content>
        <md-card-actions layout="row"  style="padding: 0; margin-top: 20px;" layout-align="end end">
          <md-button style="float: right; margin-top: -25px; background: cornflowerblue"
                     class="md-fab md-mini md-primary" aria-label="Home">
            <md-icon class="material-icons" md-svg-icon="images/ic_add_white.svg" style="width: 14px; height: 14px"></md-icon>
          </md-button>
        </md-card-actions>
      </md-card>
      <md-card class="card-right" flex>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Matérias ({{ courseDetail.subjects.length }})</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <div class="md-dialog-content" style="overflow-x: auto" id="tbl-subjects">
            <md-list ng-cloak>
              <md-list-item class="md-3-line" ng-repeat="item in courseDetail.subjects">
                <div class="md-list-item-text" layout="column">
                  <h3>{{ item.subject.description }}</h3>
                  <p>{{ item.teacher.name }}</p>
                </div>
              </md-list-item>
            </md-list>
          </div>
        </md-card-content>
        <md-card-actions layout="row"  style="padding: 0; margin-top: 20px;" layout-align="end end">
          <md-button style="float: right; margin-top: -25px; background: orange"
                     id="btn-add-subjects"
                     ng-click="courseDetail.addSubjects()"
                     class="md-fab md-mini md-primary" aria-label="Home">
            <md-icon class="material-icons" md-svg-icon="images/ic_add_white.svg" style="width: 14px; height: 14px"></md-icon>
          </md-button>
        </md-card-actions>
      </md-card>

    </div>
  </md-content>
</div>

<style>
  .card-right{
    max-height: 550px;
  }
  .card-right .md-dialog-content{
    height: 400px;
  }

  /* Card */
  .card-left .card-item{
    box-sizing: content-box;
    border-radius:0;
    margin-bottom:0;
    margin-top:0;
    padding-left: 0;
    padding-right: 0;
  }
  /* Card */

  /* Card Header */
  .card-left .card-item-header {
    margin: 0;
    padding: 0;
    min-height: 55px;
    cursor: pointer;
    outline:none;
  }

  .card-left .card-item-title-header{
    padding: 0;
    width: 100%;
    display: inline-table;
  }

  .card-left .card-item-title-header .icon{
    padding: 0;
    margin: 0;
    display: table-cell;
    width: 50px;
    box-sizing: content-box;
    height: 10px;
    outline:none;
  }

  .card-left .card-item-title-header .icon md-icon{
    padding: 0;
    margin: 0 15px;
    outline:none;
  }

  .card-left .card-item-title-header .title {
    padding: 0;
    margin: 0;
    display: table-cell;
    outline:none;
  }

  .card-left .card-item-title-header .tools {
    padding: 0;
    margin: 0;
    width: 60px;
    display: table-cell;
    outline:none;
  }


  /* Content */
  .card-left .card-item-content{
    padding: 0;
  }

  .card-left .card-item-content .card-left .card-item-content-data {
    padding: 0;
    padding-top: 10px;
    border-top: solid 1px #dddddd;

  }

  .card-left .card-item-content-data .data-top{
    padding: 0;
    margin: 0;
  }

  .card-left .card-item-content-data .data-top p{
    padding: 0;
    margin: 0 0 0 25px;
  }

  .card-left .card-item-content-data .data-top p.name {
    color: rgba(0,0,0,0.87);
    /*font-size: 16px;
    line-height: 24px;*/
  }

  .card-left .card-item-content-data .data-top p.identify, p.course-type-description {
    color: #757575;
    /*font-size: 13px;
    line-height: 24px;*/
  }

  .card-left .card-item-content-data .data-middle{
    box-sizing: content-box;
    padding: 0;
    padding-bottom: 15px;
    margin: 0;
    border-top: solid 1px #e5e5e5;
  }

  .card-left .card-item-content-data .data-middle .right p{
    color: #757575;
    text-align: right;
    font-size: .8em;
    line-height: 24px;
  }

  .card-left .card-item-content-data .data-middle p{
    padding: 0;
    margin: 15px 0 0 25px;
  }

  .card-left .card-item-content-data .data-footer{
    padding: 0;
    margin: 0;
    border-top: solid 1px #e5e5e5;
    max-height: 250px;
  }

  .card-left .card-item-content-data .data-footer .description{
    padding: 0;
    margin: 0;
    overflow-x: auto;
  }

  .card-left .card-item-content-data .data-footer .description p{
    padding:5px 25px 5px 25px;
    text-align: center;
  }

 /* .md-dialog-content {
   padding: 0;
   margin: 0;
   overflow-x: auto;
   box-sizing: content-box;
  }*/

   table > thead > tr > th {
    padding: 0;
    margin: 0;
    font-weight: 600;
    text-overflow: ellipsis;
    color: rgba(0,0,0,.85);
    vertical-align: bottom;
    text-align: start;
    padding-left: 5px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  table > thead > tr > th:first-child{
    padding-left: 15px;
  }
  table > tbody > tr > th:last-child{
    width: 40px;
  }

  table > tbody > tr > td {
    vertical-align: middle;
    text-align: start;
    text-overflow: ellipsis;
    color: rgba(0,0,0,.8);
    padding-left: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    cursor: pointer;
  }


  table > tbody > tr > td:first-child {
    padding-left: 15px;
  }

  table > tbody > tr > td:last-child{
    width: 40px;
  }

  table > tbody > tr > td > md-button {
    padding: 0;
    margin: 0;
  }

  table > tbody > tr{
    -webkit-transition: all 300ms cubic-bezier(.45,.05,.55,.95);
    -moz-transition: all 300ms cubic-bezier(.45,.05,.55,.95);
    -o-transition: all 300ms cubic-bezier(.45,.05,.55,.95);
    -ms-transition: all 300ms cubic-bezier(.45,.05,.55,.95);
  }
  table > tbody > tr:hover{
    background-color: rgba(0,0,0,.05);
    color: #262626;
  }

  table{
    width:100%;
    margin:0;
    margin-top: 10px;
    padding:0;
    border-collapse: collapse;
    border-spacing: 0;
    white-space: nowrap;
    font-size: .9em;
  }

  md-card md-card-content {
    padding: 0;
  }
</style>
