<div ng-cloak >
  <md-content class="md-padding backview"  layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="100" layout="column">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Alunos</span>
            <span class="md-subhead">Small</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-sm card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-content>
          <div>
            <form name="myForm" layout="column"  novalidate>
              <md-input-container flex="100">
                <fa-Input name="txtName" ng-model='students.person.name' label="Nome" notnull="Deve Selecionar"></fa-Input>
              </md-input-container>
              <md-input-container flex="100" >
                <fa-Input name="txtSurName" ng-model='students.person.surname' label="Sobrenome" notnull="Deve Selecionar"></fa-Input>
              </md-input-container>
              <!--<div class="form-group">
                <input-email ng-model='person.email' required></input-email>
              </div>

              <div class="form-group">
                <input-age ng-model='person.age' required></input-age>
              </div>-->

              <!-- Not using a directive
              <div class="form-group">
                <label class="col-sm-2 control-label">Country</label>
                <div class="col-sm-4" ng-class="{'has-error': myForm.country.$invalid}">
                  <input type="text" name="country" ng-model="person.country" class="form-control" required>
                  <span ng-show="myForm.country.$error.required" class="help-block">Can't be blank</span>
                </div>
              </div>-->

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-4">
                  <button class="btn btn-primary" ng-click="students.upload()" ng-disabled="myForm.$invalid">
                    <span class="glyphicon glyphicon-cloud-upload"></span> Save
                  </button>
                </div>
              </div>
            </form>
          </div>
        </md-card-content>
        <md-card-actions layout="row">
          <md-button class="md-icon-button" aria-label="Mais">
            <md-icon md-svg-icon="../images/ic_vmore.svg"></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Opções">
            <md-icon md-svg-icon="../images/ic_menu.svg"></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Compartilhar">
            <md-icon md-svg-icon="../images/ic_share_arrow.svg"></md-icon>
          </md-button>
        </md-card-actions>
      </md-card>
    </div>
  </md-content>
</div>
