<div layout="row" layout-padding layout-sm="column" layout-xs="column" class="grid-data" ng-init="students.init()">
  <div flex="100" class="accordeon">
    <md-content class="backview" style="  height: auto; padding-bottom: 50px" ng-repeat="year in students.yearsList | orderBy:'-name':false">
      <div class="group-header" flex="100">
        <p class="md-caption">{{ year.name + ' '+ students.getRamdomImageNum() }}</p>
      </div>
      <div id="grid-courses" ng-repeat="itemstudent in students.studentsList| filter:{ year: year.name }">
        <md-card class="card-item" style="overflow: hidden"
                 ng-class="{
                        'card-expanded md-whiteframe-z3': itemstudent._id == students.selectedCourseIndex,
                        'card-collapsed': (itemstudent._id != students.selectedCourseIndex && !students.undefinedIndex)
                        }" >
          <md-card-title class="card-item-header" >
            <md-card-title-text class="card-item-title-header">
              <div class="icon" ng-click="students.selectCourseIndex(itemstudent._id)">
                <md-icon md-svg-src="{{ students.getRandomImage(itemstudent.active)}}"></md-icon>
              </div>
              <div class="title" ng-click="students.selectCourseIndex(itemstudent._id)">
                <p ng-class="{'title-header-collapse': itemstudent._id == students.selectedCourseIndex }">{{ itemstudent.name }}
                  <span ng-show="itemstudent._id != students.selectedCourseIndex" class="md-subhead center" >{{itemstudent.course_type.description }}</span></p>
              </div>
              <div class="tools" ng-click="students.selectCourseIndex(itemstudent._id)">
                <!--<md-menu md-offset="-20 4" md-position-mode="target-right target">
                  <md-button aria-label="Menu de opções"
                             ng-show="itemstudent._id == students.selectedCourseIndex"
                             class="md-icon-button"
                             ng-click="$mdOpenMenu($event)">
                    <md-icon md-menu-origin md-svg-icon="images/ic_vmore.svg" style="width: 18px; height: 18px;"></md-icon>
                  </md-button>
                  <md-menu-content>
                    <md-menu-item ng-repeat="item in ['Detalhar', 'Encerrar']">
                      <md-button ng-click="students.optionClicked($index)">
                        <span md-menu-align-target>{{item}} </span>
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>-->
              </div>
            </md-card-title-text>
          </md-card-title>
          <md-card-content class="card-item-content"
                           ng-class="{'card-item-content-expanded': itemstudent._id == students.selectedCourseIndex,
                                      'card-item-content-text-expanded': itemstudent._id == students.expandedTextIndex }"
                           ng-show="itemstudent._id == students.selectedCourseIndex">
            <div layout="column" layout-padding class="card-item-content-data">
              <div flex="100" layout="row" layout-xs="column" class="data-top">
                <div flex="100" flex-xs="100" layout="column">
                  <div flex="100">
                    <p class="name">{{ itemstudent.name  }}</p>
                    <p class="identify">{{ itemstudent.identify }}</p>
                    <p class="course-type-description">{{ itemstudent.course_type.description }}</p>
                  </div>
                </div>
              </div>
              <div flex="100" layout-padding layout="row" layout-xs="column"
                   class="data-middle">
                <div flex layout="row" layout-xs="column" class="left">
                  <p>Sexo: {{ itemstudent.gender|genderFilter  }}</p>
                  <p>Data de Nascimento: {{ itemstudent.dob | date:'dd/MM/yyyy' }}</p>
                </div>
                <div flex layout="row" layout-align="end" class="right">
                  <p>{{ itemstudent.create_at | date:'dd/MM/yyyy'}}</p>
                  <p>{{ itemstudent.modified | date:'dd/MM/yyyy'}}</p>
                </div>
              </div>
            </div>
          </md-card-content>
          <md-card-footer class="card-item-footer"
                          ng-show="itemstudent._id == students.selectedCourseIndex">
            <section layout="row" layout-align="space-around center" layout-wrap>
              <md-button class="md-primary" md-ink-ripple id="btn-courses-{{ itemstudent._id }}" ng-click="students.showClass(itemstudent._id, itemstudent.class)">Cursos</md-button>
            </section>
          </md-card-footer>
        </md-card>
      </div>
    </md-content>
  </div>
</div>
<style>

  .accordeon .card-item-content-expanded {
    height: 120px;
  }

  /* On Select */
  @media screen and (max-width: 600px) {
    .accordeon .card-item-content-expanded {
      height: 250px;

    }
  }
</style>


