<div ng-cloak >
  <md-content class="md-padding backview"  layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="100" layout="column">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Alunos</span>
            <span class="md-subhead">Small</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-sm card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row">
          <md-button class="md-icon-button" aria-label="Mais">
            <md-icon md-svg-icon="../images/ic_vmore.svg"></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Opções">
            <md-icon md-svg-icon="../images/ic_menu.svg"></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Compartilhar">
            <md-icon md-svg-icon="../images/ic_share_arrow.svg"></md-icon>
          </md-button>
        </md-card-actions>
      </md-card>
    </div>
  </md-content>
</div>
