<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Inicial</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <!-- endbuild -->
    <style>

    </style>

  </head>
  <body ng-app="frontApp" layout="column"  ng-controller="IndexCtrl as index" ng-init="index.init()">
    <!--[if lte IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
      your browser</a> to improve your experience.</p>
    <![endif]-->

    <div layout="column">
      <div layout="column" layout-align="top center">
        <md-toolbar class="animate-show md-whiteframe-z3" style="background-color: dodgerblue">
          <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="index.toggleLeft()" aria-label="toggleLeft" ng-show="index.ensureAuthenticated()">
              <md-icon md-svg-icon="images/ic_menu_white.svg"></md-icon>
            </md-button>
            <h2>
              <span>DashBoard</span>
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="More" ng-click="index.toggleRight()" ng-show="index.ensureAuthenticated()">
              <md-icon md-svg-icon="images/ic_vmore_white.svg"></md-icon>
            </md-button>
          </div>
        </md-toolbar>
      </div>
    </div>
    <md-sidenav id="side-left" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" ng-show="index.ensureAuthenticated()">
      <md-toolbar class="md-hue-2" style="background-color: dodgerblue">
        <span flex></span>
        <div layout="row" layout-align="start center">
          <md-icon class="md-avatar" md-svg-icon="images/android.svg"></md-icon>
          <span flex></span>
        </div>
        <span flex></span>
        <div>
          <div class="md-body-1">{{ index.user.email }}</div>
          <div class="md-body-2">{{ index.person.name }}</div>
        </div>
      </md-toolbar>
      <md-content>
        <md-list ng-repeat="item in index.mainMenu">
          <md-list-item class="md-clickable" role="listitem" tabindex="-1" ng-click="index.goTo(item.url)" md-ink-ripple>
            <div class="md-list-item-inner ng-scope">
              <md-icon class="material-icons" md-svg-icon="{{ item.icon }}"></md-icon>
              <p>{{ item.name }}</p>
            </div>
          </md-list-item>
        </md-list>
        <md-list>
          <md-list-item ng-controller="LoginCtrl as loginMain" ng-click="loginMain.doLogOut(); index.closeLeft()" class="md-clickable" role="listitem" tabindex="-1" md-ink-ripple>
            <div class="md-list-item-inner ng-scope">
              <md-icon class="material-icons" md-svg-icon="images/ic_exit.svg"></md-icon>
              <p>Sair</p>
            </div>
          </md-list-item>
          <md-list-item ng-click="index.test();" class="md-clickable" role="listitem" tabindex="-1" md-ink-ripple>
            <div class="md-list-item-inner ng-scope">
              <md-icon class="material-icons" md-svg-icon="images/ic_exit.svg"></md-icon>
              <p>test</p>
            </div>
          </md-list-item>
        </md-list>
      </md-content>
    </md-sidenav>
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right" ng-show="index.ensureAuthenticated()">
      <md-toolbar class="md-theme-light" style="background-color: dodgerblue">
        <h1 class="md-toolbar-tools">Sidenav Right</h1>
      </md-toolbar>
      <md-content layout-padding>
        <md-button ng-click="index.closeRight()" class="md-primary">
          Close Sidenav Right
        </md-button>
      </md-content>
    </md-sidenav>

    <md-content class="backview" flex="100" >
      <ng-view>

      </ng-view>
      <div class="btn-action-control" layout="row" layout-align="end end" ng-show="index.ensureAuthenticated() && __showButton">
        <md-fab-speed-dial md-direction="up"
                           class="md-fling"
                           ng-open="index.isOpen"
                           ng-class="{ 'md-hover-full': index.hover }">
          <md-fab-trigger>
            <md-button aria-label="Menu" class="md-fab  md-primary" style="background-color: #00b3ee">
              <md-tooltip md-direction="left">
                Menu
              </md-tooltip>
              <md-icon md-svg-src="../images/ic_add_white.svg" aria-label="Menu" style="width: 18px; height: 18px;"></md-icon>
            </md-button>
          </md-fab-trigger>
          <md-fab-actions>
            <md-button id="bt-action-menu-NEW" ng-click="index.actionMenu('NEW')" aria-label="Novo" class="md-fab md-mini" style="background-color: dodgerblue">
              <md-icon md-svg-src="../images/ic_draw_white.svg" aria-label="Novo" style="width: 18px; height: 18px;"></md-icon>
              <md-tooltip md-direction="left">
                Novo
              </md-tooltip>
            </md-button>
            <md-button id="bt-action-menu-EDIT" ng-click="index.actionMenu('EDIT')"  aria-label="Editar" class="md-fab md-mini" style="background-color: #0086b3">
              <md-icon md-svg-src="../images/ic_edit_white.svg" aria-label="Editar" style="width: 18px; height: 18px;"></md-icon>
              <md-tooltip md-direction="left">
                Editar
              </md-tooltip>
            </md-button>
            <md-button id="bt-action-menu-REMOVE" ng-click="index.actionMenu('REMOVE')"  aria-label="Excluir" class="md-fab md-mini" style="background-color: #ac2925">
              <md-icon md-svg-src="../images/ic_delete_white.svg" aria-label="Excluir" style="width: 18px; height: 18px;"></md-icon>
              <md-tooltip md-direction="left">
                Excluir
              </md-tooltip>
            </md-button>
            <md-button id="bt-action-menu-PRINT" ng-click="index.actionMenu('PRINT')"  aria-label="Imprimir" class="md-fab md-raised md-mini">
              <md-icon md-svg-src="../images/ic_printer.svg" aria-label="Imprimir" style="width: 18px; height: 18px;"></md-icon>
              <md-tooltip md-direction="left">
                Imprimir
              </md-tooltip>
            </md-button>
          </md-fab-actions>
        </md-fab-speed-dial>
      </div>

    </md-content>
    <script>
     /* window.addEventListener("resize", function () {
        var btnActionControl = document.getElementById("btn-action-control");

        btnActionControl.style.position = "static";
        btnActionControl.style.top = window.innerHeight - 100;
        console.log(window.innerHeight);
      });*/

    </script>



    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <!--<script>
      !function (A, n, g, u, l, a, r) {
        A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
          (A[l].q = A[l].q || []).push(arguments)
        }, A[l].l = +new Date, a = n.createElement(g),
          r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)h
      }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-XXXXX-X');
      ga('send', 'pageview');
    </script> -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->

    <script src="modules/lib/angular-material-icons.min.js"></script>

    <script src="modules/utils/days.js"></script>
    <script src="modules/frontApp.js"></script>
    <script src="modules/utils/constants.js"></script>
    <script src="modules/utils/urls.js"></script>

    <script src="modules/utils/module.utils.js"></script>
    <script src="modules/utils/filters/removeAccents.filter.js"></script>
    <script src="modules/utils/filters/search.filter.js"></script>
    <script src="modules/utils/controllers/gridList.controller.js"></script>
    <script src="modules/utils/services/localStorage.js"></script>
    <script src="modules/utils/services/messages.js"></script>
    <script src="modules/utils/factories/request.js"></script>
    <script src="modules/utils/factories/resource.js"></script>

    <script src="modules/auth/module.auth.js"></script>
    <script src="modules/auth/module.auth.route.js"></script>
    <script src="modules/auth/controllers/login.controller.js"></script>
    <script src="modules/auth/controllers/person.type.controller.js"></script>
    <script src="modules/auth/factories/auth.factory.js"></script>
    <script src="modules/auth/factories/users.factory.js"></script>
    <script src="modules/auth/factories/header.factory.js"></script>

    <script src="modules/courses/module.courses.js"></script>
    <script src="modules/courses/module.courses.route.js"></script>
    <script src="modules/courses/factories/courses.factory.js"></script>
    <script src="modules/courses/controllers/courses.controller.js"></script>
    <script src="modules/courses/controllers/course-schedule.controller.js"></script>
    <script src="modules/courses/controllers/course-subjects.controller.js"></script>
    <script src="modules/courses/controllers/course-detail.controller.js"></script>

    <script src="modules/index/module.index.js"></script>
    <script src="modules/index/controllers/index.controller.js"></script>
    <script src="modules/index/directives/actions.directive.js"></script>

    <script src="modules/main/module.main.js"></script>
    <script src="modules/main/module.main.route.js"></script>
    <script src="modules/main/factories/main.factory.js"></script>
    <script src="modules/main/controllers/main.controller.js"></script>

    <script src="modules/students/module.students.js"></script>
    <script src="modules/students/module.students.routes.js"></script>
    <script src="modules/students/controllers/students.controller.js"></script>

    <script src="modules/teachers/module.teachers.js"></script>
    <script src="modules/teachers/module.teachers.route.js"></script>
    <script src="modules/teachers/controllers/teachers.controller.js"></script>

    <script src="modules/handlers/module.handlers.js"></script>
    <script src="modules/handlers/module.handlers.route.js"></script>
    <script src="modules/handlers/controllers/handlers.controller.js"></script>
    <script src="modules/handlers/factories/handlers.factory.js"></script>

    <script src="modules/app.js"></script>
    <!-- endbuild -->
  </body>
</html>

