<md-dialog flex="50" flex-md="60" aria-label="Cronograma" ng-init="courseSchedule.init()">
  <form ng-submit="$event.preventDefault()" name="searchForm" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools" style="background: dodgerblue">
        <h2>Cronograma</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="courseSchedule.closeClick()">
          <md-icon md-svg-src="../images/ic_close_white.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout="column" flex="100" layout-xs="column">
        <md-input-container flex="100" flex-xs="100" flex-sm="100">
          <md-autocomplete flex="100" flex-xs="100" flex-sm="100" required style="height: 50px;"
                           md-input-name="autocompleteField"
                           md-no-cache="courseSchedule.noCache"
                           md-selected-item="courseSchedule.selectedItem"
                           md-search-text="courseSchedule.searchText"
                           md-items="item in courseSchedule.querySearch(courseSchedule.searchText)"
                           md-item-text="item.description"
                           md-floating-label="Matéria*">
            <md-item-template>
              <span md-highlight-text="courseSchedule.searchText">{{item.description}}</span>
            </md-item-template>
          </md-autocomplete>
        </md-input-container>
        <md-input-container flex="100" flex-xs="100" flex-sm="100">
          <label>Dia da Semana *</label>
          <md-select id="cbeDayWeek" name="cbeDayWeek"  ng-model="courseSchedule.newSchedule.schedule.day">
            <md-option ng-repeat="day in [1, 2, 3, 4, 5, 6, 7]" value="{{day}}">
              {{ courseSchedule.getDayDescription(day) }}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container flex="100" flex-xs="100" flex-sm="100">
          <div flex="100"  layout="column">
            <span class="md-body-1">Início Hora {{ courseSchedule.timeStart.hour}}</span>
            <md-slider flex class="md-primary" md-discrete ng-model="courseSchedule.timeStart.hour" step="1" min="0" max="23" aria-label="Horas"></md-slider>
          </div>
        </md-input-container>
        <md-input-container flex="100" flex-xs="100" flex-sm="100">
          <div flex="100" layout="column">
              <span class="md-body-1">Início Minuto {{ courseSchedule.timeStart.minute }}</span>
            <md-slider flex class="md-primary" md-discrete ng-model="courseSchedule.timeStart.minute" step="1" min="0" max="59" aria-label="Minutos"></md-slider>
          </div>
        </md-input-container>
        <md-input-container flex="100" flex-xs="100" flex-sm="100">
          <div flex="100"  layout="column">
            <span class="md-body-1">Término Hora {{ courseSchedule.timeEnd.hour}}</span>
            <md-slider flex class="md-primary" md-discrete ng-model="courseSchedule.timeEnd.hour" step="1" min="0" max="23" aria-label="Horas"></md-slider>
          </div>
        </md-input-container>
        <md-input-container flex="100" flex-xs="100" flex-sm="100">
          <div flex="100" layout="column">
            <span class="md-body-1">Término Minuto {{ courseSchedule.timeEnd.minute }}</span>
            <md-slider flex class="md-primary" md-discrete ng-model="courseSchedule.timeEnd.minute" step="1" min="0" max="59" aria-label="Minutos"></md-slider>
          </div>
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout="end">
      <md-button ng-click="courseSchedule.cancelClick()">
        CANCELAR
      </md-button>
      <md-button ng-click="courseSchedule.saveClick()" style="margin-right:20px;">
        SALVAR
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>

