<md-dialog flex="50" flex-md="60" aria-label="{{ frmCourseCtrl.pageHeader }}" ng-init="frmCourseCtrl.init()">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools" style="background: dodgerblue">
        <h2>{{ frmCourseCtrl.pageHeader}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="frmCourseCtrl.closeClick()">
          <md-icon md-svg-src="../images/ic_close_white.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout="column" flex="100" layout-xs="column" style="overflow-x: auto">
        <div layout="row" flex="100" layout-xs="column" layout-sm="column">
          <md-input-container flex="40" flex-xs="100" flex-sm="100">
            <label>Nome *</label>
            <input ng-model="frmCourseCtrl.newCourse.name" type="text">
          </md-input-container>
          <md-input-container flex="40" flex-xs="100" flex-sm="100">
            <label>Identificador *</label>
            <input ng-model="frmCourseCtrl.newCourse.identify" type="text" >
          </md-input-container>
          <md-input-container flex="20" flex-xs="100" flex-sm="100">
            <label>Tipo *</label>
            <md-select id="cbe-course-type"  ng-model="frmCourseCtrl.newCourse.course_type._id">
              <md-option ng-repeat="type in frmCourseCtrl.courseType" value="{{type._id}}">
                {{type.description}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        <div layout="row" flex="100" layout-xs="column" layout-sm="column" style="padding: 0">
          <div flex="40" flex-xs="100" layout="column" style="padding: 0">
            <label class="lblDate">Início *</label>
            <md-datepicker ng-model="frmCourseCtrl.newCourse.duration.start" md-placeholder="Selecione"></md-datepicker>
          </div>
          <div flex="40" flex-xs="100" layout="column" style="padding: 0">
            <label class="lblDate">Término *</label>
            <md-datepicker ng-model="frmCourseCtrl.newCourse.duration.end" md-placeholder="Selecione"></md-datepicker>
          </div>
          <div flex="20" flex-xs="100" layout="column" style="padding: 0">
            <label>Status</label>
            <md-switch class="md-primary" md-no-ink aria-label="Curso Status" ng-true-value="1" ng-false-value="0" ng-model="frmCourseCtrl.newCourse.active">

            </md-switch>
          </div>
        </div>
        <div layout="row" flex="100" layout-xs="column" layout-sm="column" style="padding: 0">
          <md-input-container class="md-block" flex="100">
            <label>Descrição do Curso</label>
            <textarea ng-model="frmCourseCtrl.newCourse.description" md-maxlength="500" rows="5" md-select-on-focus></textarea>
          </md-input-container>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout="end">
      <md-button ng-click="frmCourseCtrl.cancelClick()">
        CANCELAR
      </md-button>
      <md-button ng-click="frmCourseCtrl.saveClick()" style="margin-right:20px;">
        SALVAR
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
<style>
  md-datepicker {
    padding-left: 0;
  }
  .lblDate {
    padding-left: 15px;
  }
</style>
