<md-dialog flex="50" aria-label="{{ pageHeader }}">
  <md-toolbar>
    <div class="md-toolbar-tools" style="background: dodgerblue">
      <h2>{{pageHeader}}</h2>

      <span flex></span>
      <md-button class="md-icon-button" ng-click="closeClick()">
        <md-icon md-svg-src="../images/ic_close_white.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="md-dialog-content" style="overflow-x: auto">
      <md-list ng-cloak>
      <md-list-item class="md-3-line" ng-repeat="item in itemsList" ng-click="itemListClick(item)">
        <img alt="{{ item.value }}" ng-src="{{ item.img }}" class="md-avatar" ng-show="itemHasImage" />
        <div class="md-list-item-text" layout="column">
          <h3 ng-show="showText(1, style)">{{ item.valueA }}</h3>
          <h4 ng-show="showText(2, style)">{{ item.valueB }}</h4>
          <p  ng-show="showText(3, style)">{{ item.valueC }}</p>
        </div>
      </md-list-item>
      </md-list>
    </div>
  </md-dialog-content>
  <md-dialog-actions layout="row" layout="end">
    <md-button ng-click="cancelClick()">
      CANCELAR
    </md-button>
    <md-button ng-click="confirmClick(item)" style="margin-right:20px;">
      OK
    </md-button>
  </md-dialog-actions>
</md-dialog>
